@model Consulta

@if(Model == null)
{
    <h1>CONSULTA NÃO EXISTE</h1>
    <a asp-action="Index">Voltar</a>
}
else {

<h1>Visualizando consulta de @Model.paciente.Nome</h1>
<br />

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.paciente.Nome)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.paciente.Nome)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.data)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.data)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.especialidade.Nome)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.especialidade.Nome)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.descricao)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.descricao)</dd>

</dl>
<br />
<a class="btn btn-info" asp-action="Index">Voltar</a>
}